@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}
h1{
  font-size: 30px;
  font-weight: 600;
  color: '#101828';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.category-button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #1890ff;
  color: white;
}

.ant-tabs-tab-btn {
  padding: 0;
}

/* Remove the default Ant Design border for the Tabs */
.ant-tabs-nav {
  border-bottom: none !important;
}
.category-button:hover{
  background-color: transparent;
  color: #475467;
}
.category-button {
  padding: 10px 20px;
font-size: 14px;
  border: none;
  font-weight: 600;
  color: #475467;
  background: transparent;
  cursor: pointer;
}

.active-tab {
  background-color: #D1F5FC; /* Custom background color for active tab */
  color: #1253BB;
  border-radius: 8px;
}

.ant-tabs-tab {
  margin-right: 16px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-collapse .ant-collapse-content>.ant-collapse-content-box {

  background-color: #F2F4F7;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 0px;
}

