@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1 {
  font-size: 30px;
  font-weight: 600;
  color: "#101828";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.category-button:hover {
  background-color: #1890ff;
  color: white;
}

.ant-tabs-tab-btn {
  padding: 0;
}

/* Remove the default Ant Design border for the Tabs */
.ant-tabs-nav {
  border-bottom: none !important;
}
.category-button:hover {
  background-color: transparent;
  color: #475467;
}
.category-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  font-weight: 600;
  color: #475467;
  background: transparent;
  cursor: pointer;
}

.active-tab {
  background-color: #d1f5fc; /* Custom background color for active tab */
  color: #1253bb;
  border-radius: 8px;
}

.ant-tabs-tab {
  margin-right: 16px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  background-color: #f2f4f7;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-rate
  .ant-rate-star:not(:last-child) {
  margin-inline-end: 0px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon {
  background-color: #14698a;
  border-color: #fcfdff;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon {
  background-color: #039855;
  border-color: #e6f4ff;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: white;
}

.ant-layout-sider .ant-layout-sider-red .sidebar-menu {
  background-color: red !important;
  color: black !important;
}
.ant-layout-sider-children .ant-menu-item-selected {
  background: #d1f5fc !important;
  font-weight: bold;

  font-weight: bold;
  color: #dd4f0d !important;
}

.ant-layout-content {
  background-color: #f6f6f6 !important;
}

span.ant-menu-title-content {
  color: #fff;
}
/* Select opriont */
.ant-select-selector {
  background-color: transparent !important;
  color: black !important;
  box-shadow: transparent !important;
}
.ant-select-selector:hover {
  background-color: "none" !important;
  color: black !important;
  border-color: transparent !important;
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: transparent !important;
}
.ant-select .ant-select-outlined {
  border-color: transparent !important;
  border: transparent !important;
}
.ant-select-selection-search {
  border: transparent !important;
  border-color: transparent !important;
}
.ant-select-selection-item {
  border: transparent !important;
  border-color: transparent !important;
}
.ant-select-selection-search-input {
  border: transparent !important;
  border-color: transparent !important;
}

/* css of ant design table style   */
.ant-table-wrapper table {
  background-color: #e9f4f3;
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-d2lrxs).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  /* background: #1f8d84; */
  color: white;
  /* text-align: center; */
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px;
  /* padding-left: 24px; */
}
.ant-table-wrapper .ant-table-tbody > tr:first-child > *:first-child {
  /* padding-left: 24px; */
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0;
  text-align: start;
}

/* data roe */
.ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  /* padding-left: 50px; */
}
.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-1pg9a38).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  width: 0;
  height: 0;
  content: "";
}

.ant-table-wrapper .ant-table-container table > tbody > tr > *:last-child {
  text-align: start;
}
.ant-table-wrapper .ant-table-container table > tbody > tr {
  color: #4e4e4e;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-menu-light
  .ant-menu-submenu-title,
.ant-menu-submenu-title {
  color: #fff;
}

.ant-pagination-item-active {
  background: gray !important;
  border: 0 !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}

.ant-table-wrapper table {
  background-color: transparent !important;
  color: #fff;
}
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  /* background: #dd1122; */
  color: black;
  border: 0 !important;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: 1px solid #3a3a3a;
}

.ant-modal .ant-modal-content {
  color: #fff;
}

.ant-otp-input {
  height: 80px;
}

/* jodit editor */
.jodit,
.jodit-container * {
  /* background: #2e2d2d !important; */
  /* color: wheat !important; */
  border: none !important;
}

.jodit-react-container .jodit-wysiwyg {
  min-height: 300px !important;
}

/* .auth-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#2e2d2dc0, #2e2d2dd2), url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background: #2e2d2d;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}
::placeholder {
  color: #a19e9e !important;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  background-color: #f2f4f7;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-rate
  .ant-rate-star:not(:last-child) {
  margin-inline-end: 0px;
}
/* :where(.css-dev-only-do-not-override-qnu6hi).ant-menu-light .ant-menu-item a, :where(.css-dev-only-do-not-override-qnu6hi).ant-menu-light>.ant-menu .ant-menu-item a, :where(.css-dev-only-do-not-override-qnu6hi).ant-menu-light .ant-menu-item a:hover, :where(.css-dev-only-do-not-override-qnu6hi).ant-menu-light>.ant-menu .ant-menu-item a {
  color: #344054;
} */

:where(.css-dev-only-do-not-override-qnu6hi).ant-tag .ant-tag-close-icon {
  margin-inline-start: 3px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-tabs .ant-tabs-tab {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  border: 0;
  /* outline: none; */
  cursor: pointer;
  color: #667085;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #195671;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-picker-calendar {
  border-radius: 0;
}

.ant-picker-calendar .ant-picker-cell {
  padding: 4px 0;
}

.ant-picker-calendar .ant-picker-calendar-date-content {
  height: auto !important;
}

.ant-picker-calendar table {
  border-spacing: 4px;
  border-collapse: separate;
}

.ant-picker-calendar .ant-picker-cell-in-view {
  color: rgba(0, 0, 0, 0.88);
}

.ant-picker-calendar .ant-picker-calendar-date {
  border: none !important;
  margin: 0 !important;
}

/* Ant Design and Tailwind Integration */
.ant-table {
  font-size: 14px;
  border: none;
}
.ant-table-thead > tr > th {
  background-color: #f9fafb;
  color: #374151;
  font-weight: 600;
}
.ant-table-tbody > tr:hover > td {
  background: #f3f4f6 !important;
}
.ant-table-pagination.ant-pagination {
  justify-content: center;
}
/* Add this to your CSS or inside a style tag */
.rs-modal {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
